###################################################
# configuration for mysql-access and libpcap-filter
###################################################
dbhost = "127.0.0.1"
dbname = "sipcollect"
dbuser = "sip"
dbpasswd = "********"
packet_filter = "(udp or tcp) and (port 5060 or port 5070 or port 5080 or (ip[6:2] & 0x1fff) !=0)"

